footer
    .wrapper
        .footer_top
            .footer_top-col
                h3 Каталог
                .footer_nav-1
                    each catalogue in ['Мельницы', 'Техника', 'Для выпечки', 'Посуда', 'Проращиватели', 'Детям', 'Чай из непала']
                        a(href="#")
                            span= catalogue
            .footer_top-col
                h3 Информация
                .footer_nav-1
                    each info in ['Доставка и самовывоз', 'О магазине', '10 причин покупать у нас', 'Оплата', 'Мастер-классы']
                        a(href="#")
                            span= info
            .footer_top-col
                h3 Контакты
                .footer_nav-1
                    a.contact_phone(href='tel:+74957894143') +7 (495) 789 41 43
                        span — Москва
                    a.contact_phone(href='tel:+78123855586') +7 (812) 385 55 86
                        span — Санкт-Петербург
                    a.contact_phone(href='tel:+7800)5553386') +7 (800) 555 33 86
                        span — вся Россия
                    each contact in ['Обратная связь', 'info@hlebomoli.ru]']
                        a(href="#")
                            span= contact
            .footer_top-col
                h3 Вступайте в клуб
                p Подпишитесь на наши новости и будьте в кусре всех акций, скидок и новых поступлений, а также самых изысканных рецептов.
                .subscribe
                    form
                        input(type='email' placeholder='Ваша эл. почта')
                        button.subscribe_button
    .wrapper
        .footer_bottom
            .footer_bottom-left Хлебомолы &#169; 2014–2015
            .footer_bottom-right
                .footer_nav-2
                    a(href="#")
                    a(href="#")
                    a(href="#")
                    a(href="#")