header.header
    .header_left
        .logo_wrap
            a.logo(href='#')
                .logo_left
                    img(src='img/logo.png' alt='' title='')
                .logo_right
                    img(src='img/logo-title.png' alt='' title='')
                    .logo_title Технологии правильного питания
    .header_center
        .search
            form(name='search')
                input(type="text" id="SearchText" name="SearchText" maxlength="255" size="30" placeholder="Найти что-нибудь")
    .header_right
        a.header_phone(href="tel:+78005553386") +7 800 555-33-86
        a.call-back(href="#") Обратный звонок





