.nav-top
    .nav-top_menu
        each val in ['О магазине', 'Доставка и самовывоз', 'Оплата', 'Контакты', 'Блог']
            a(href="#")= val
    .nav-top_account
        .location Город:
            span Москва
        .sign-in Личный кабинет