.nav
    .nav-menu
        each menu in ['Мельницы', 'Техника', 'Для выпечки', 'Посуда', 'Проращиватели', 'Детям', 'Чай из непала']
            a(href="#")= menu
    .basket
        .basket_price 13 990
            |
            |
            span &#8381;
        .basket_count 2