doctype html
html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")

        link(rel="stylesheet" href="css/style.css")

        title Index

    body.index
        .wrapper
            include modules/nav-top.pug
            include modules/header.pug
            include modules/nav.pug
            .content
                h2 Оформление заказа
                .content_wrap
                    .content_left
                        .tabs
                            input.tabs__tab(type="radio" id="tabs__tab1" name="tabstab" checked="checked")
                            label.tabs__title(for="tabs__tab1")
                                span Физическое лицо
                            form.tabs__block#orderForm(method="post")
                                h4.title Контактные данные
                                .groups
                                    .group.group_md
                                        label(for='name') Имя
                                        input(type='text' id='name' name='name' placeholder='Александр' pattern='[а-яёА-ЯЁ]+' required)
                                    .group.group_md
                                        label(for='surname') Фамилия
                                        input(type='text' id='surname' name='surname' placeholder='Пушкин' pattern='[а-яёА-ЯЁ]+' required)
                                    .group.group_md
                                        label(for='email') Эл.почта
                                        input.error(type='email' id='email' name='email' placeholder='почта')
                                        .error_text Недопустимые символы. Это поле может содержать только латиницу.
                                    .group.group_md
                                        label(for='phone') Номер телефона
                                        .phone
                                            input(type='text' id='phone' name='phone' placeholder='999 432 34-21')
                                            span +7
                                h4.title Адрес и способ доставки
                                .groups
                                    .group.group_md
                                        label(for='country') Страна
                                        select(id='country')
                                            option(selected) Россия
                                            option Белоруссия
                                    .group.group_md
                                        label(for='city') Город
                                        input(type='text' id='city' name='city' placeholder='Москва')
                                h5 Способ доставки
                                .group_radio-buttons
                                    .group_radio
                                        input(type='radio' id='express' name='delivery' value='1' checked='checked' data-title="Доставка курьерской службой" data-price="710")
                                        label(for='express') Доставка курьерской службой —
                                            span.price#price-1 710 ₽
                                            span.time (Срок доставки — 1–3 дня)
                                    .group_radio
                                        input(type='radio' id='companies' name='delivery' value='2' data-title="Доставка транспортной компанией" data-price="210")
                                        label(for='companies') Доставка транспортной компанией —
                                            span.price#price-2 210 ₽
                                            span.time (Данный вид доставки возможен при полной предоплате заказа. Срок доставки — 3–5 дней)
                                    .group_radio
                                        input(type='radio' id='pick-up' name='delivery' value='3' data-title="Самовывоз" data-price="180")
                                        label(for='pick-up') Самовывоз —
                                            span.price#price-3 180 ₽
                                            span.time Доставка до пункта самовывоза займет 2–3 дня
                                .pick-up_container
                                    h5 Пункт самовывоза
                                    .groups
                                        .group
                                            label(for='metro') Станция метро
                                            select.select_big(id='metro')
                                                option(value="0" data-address="Ул. Кузнецкий мост, 9/10 стр.2, офис 204" data-time="Ежедневно с 12:00 до 22:00" selected) Кузнецкий мост
                                                option(value="1" data-address="Ленинградский просп., 1/1с3, офис 2" data-time="Ежедневно с 12:00 до 22:00") Белорусская
                                    .map-container
                                        #map
                                        .map-info_wrap
                                            .map-info
                                                .map-info_address#mapAddress
                                                .map-info_time#mapTime
                                h5 Комментарий к заказу
                                .group.group_lg
                                    textarea#commentText(name="comment")
                                .group_button
                                    .button
                                        input(type='submit' value='К выбору способа оплаты')
                                        span
                            input.tabs__tab(type='radio' id='tabs__tab2' name='tabstab')
                            label.tabs__title(for='tabs__tab2')
                                span Юридическое лицо
                            p.tabs__block Lorem ipsum dolor sit

                    .content_right
                        .content_right-wrap
                            h4 Ваш заказ
                            .order
                                .row
                                    .col-left Мельница ручная Kornkraft Mia aMola
                                    .col-right 18 990 ₽
                                .row
                                    .col-left Пшеница БИО, 1 кг (Россия) (2 шт)
                                    .col-right 420 ₽
                            .total
                                .row
                                    .col-left Размер скидки (5%)
                                    .col-right
                                        span 420
                                        |
                                        |
                                        span ₽
                                .row
                                    .col-left Итого
                                    .col-right
                                        span#total(data-amount="18344") 18 344
                                        |
                                        |
                                        span ₽
                                .row
                                    .col-left#deliveryTitle Самовывоз
                                    .col-right
                                        span#deliveryPrice 390
                                        |
                                        |
                                        span ₽
                            .total-price
                                .row
                                    .col-left Сумма с доставкой
                                    .col-right.total_sum
                                        span#totalPrice
                                        |
                                        |
                                        span ₽


        include modules/footer.pug
        include modules/script.pug




