.content {
  background: $color-0;
  padding: 0 25px 75px;
  position: relative;
  &:before {
    background: url("../img/bg-content.png") no-repeat;
    background-size: cover;
    content: '';
    display: block;
    height: 20px;
    position: absolute;
    top: -15px;
    left: 0;
    width: 100%;
  }
  &_wrap {
    @include row-flex;
  }
  &_left,
  &_right {
    @include col;
  }
  &_left {
    @include size(9);
  }
  &_right {
    @include size(3);
    &-wrap {
      border: 1px solid $color-14;
      padding: 25px 0 0;
      h4 {
        padding: 0 10px;
      }
    }
    .row {
      display: flex;
      justify-content: space-between;
      padding: 0 10px 15px;
    }
    .col {
      &-left {
        font-size: 14px;
        line-height: 1.21;
        color: $color-3;
        width: 75%;
      }
      &-right {
        font-size: 14px;
        line-height: 1.21;
        text-align: right;
        color: $color-6;
        width: 25%;
      }
    }
  }
}
.total {
  background: #FDFCFA;
  border-top: 1px dashed $color-14;
  padding-top: 15px;
  &-price {
    background: #FDFAF5;
    border-top: 1px dashed $color-14;
    padding-top: 15px;
  }
  &_sum {
    font-size: 20px;
    font-weight: bold;
  }
}