@font-face {
  font-family: 'philosopherregular';
  src: url('../fonts/philosopher-regular.eot');
  src: url('../fonts/philosopher-regular.eot?#iefix') format('embedded-opentype'),
  url('../fonts/philosopher-regular.woff2') format('woff2'),
  url('../fonts/philosopher-regular.woff') format('woff'),
  url('../fonts/philosopher-regular.ttf') format('truetype'),
  url('../fonts/philosopher-regular.svg#philosopherregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'calibri';
  src: url('../fonts/calibri.eot');
  src: url('../fonts/calibri.eot?#iefix') format('embedded-opentype'),
  url('../fonts/calibri.woff2') format('woff2'),
  url('../fonts/calibri.woff') format('woff'),
  url('../fonts/calibri.ttf') format('truetype'),
  url('../fonts/calibri.svg#calibriregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'georgia';
  src: url('../fonts/georgia.eot');
  src: url('../fonts/georgia.eot?#iefix') format('embedded-opentype'),
  url('../fonts/georgia.woff2') format('woff2'),
  url('../fonts/georgia.woff') format('woff'),
  url('../fonts/georgia.ttf') format('truetype'),
  url('../fonts/georgia.svg#calibriregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'georgiai';
  src: url('../fonts/georgiai.eot');
  src: url('../fonts/georgiai.eot?#iefix') format('embedded-opentype'),
  url('../fonts/georgiai.woff2') format('woff2'),
  url('../fonts/georgiai.woff') format('woff'),
  url('../fonts/georgiai.ttf') format('truetype'),
  url('../fonts/georgiai.svg#calibriregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
