@import "smart-grid";
footer {
  background: url("../img/bg-footer.png");
  padding: 25px 0;
  h3 {
    font-family: 'georgiai';
    font-size: 17px;
    font-weight: normal;
    font-style: italic;
    color: #461f02;
    margin-bottom: 10px;
    margin-top: 0;
  }
  a {
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    color: $color-3;
    text-decoration: none;
    span {
      border-bottom: 1px solid $color-8;
    }
    &:hover {
      span {
        border-bottom: none;
        opacity: 0.75;
      }
    }
    &.contact {
      &_phone {
        span {
          border-bottom: none;
        }
      }
    }
  }
  p {
    font-size: 13px;
    font-weight: normal;
    line-height: 1.31;
    color: $color-3;
    margin: 0;
    width: 230px;
  }
  .subscribe {
    margin-top: 15px;
    position: relative;
    form {
      input[type='email'] {
        background-color: #ffffff;
        border: solid 1px #c4b7b1;
        border-radius: 4px;
        box-sizing: border-box;
        color: $color-3;
        font-size: 15px;
        height: 40px;
        line-height: 40px;
        outline: none;
        padding: 0 50px 0 14px;
        width: 230px;
        &::placeholder {
          opacity: 0.75;
        }
        &:focus {
          &::placeholder {
            opacity: 0;
          }
        }
      }
    }
    &_button {
      background-color: $color-13;
      border: 1px solid $color-13;
      border-bottom-right-radius: 4px;
      border-top-right-radius: 4px;
      cursor: pointer;
      height: 40px;
      outline: none;
      position: absolute;
      left: 190px;
      top: 0;
      width: 43px;
      &:after {
        background: url("../img/arrow-right-white.png") no-repeat;
        content: '';
        display: inline-block;
        height: 16px;
        position: absolute;
        left: 15px;
        top: 11px;
        width: 10px;
      }
    }
  }
}
.footer {
  &_bottom {
    @include row-flex();
    align-items: center;
    color: $color-3;
    font-size: 14px;
    line-height: 1.14;
    margin-top: 20px;
    &-left{
      @include col();
      @include size(3);
      @include size-md(4);
      @include size-sm(6);
    }
    &-right {
      @include col();
      @include size(6);
      @include size-md(4);
      @include size-sm(12);
    }
    .footer_nav-2 a:not(:last-child) {
      margin-right: 15px;
    }
  }
  &_top {
    @include row-flex();
    padding-bottom: 45px;
    position: relative;
    &:after {
      border-bottom: 2px solid $color-13;
      content: '';
      display: block;
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
    }
    &:before {
      background: $color-13;
      border: 2px solid $color-12;
      border-radius: 50%;
      content: '';
      display: block;
      height: 10px;
      position: absolute;
      bottom: -4.5px;
      left: calc(50% - 5px);
      width: 10px;
      z-index: 1;
    }
    &-col {
      @include col();
      @include size(3);
      @include size-md(6);
    }
  }
  &_nav-1 {
    display: flex;
    flex-direction: column;
  }
}