.groups {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

}
.group {
  margin-bottom: 12px;
  &_lg {
    width: 100%;
  }
  &_md {
    width: 46%;
  }
  label,
  input,
  select,
  textarea {
    box-sizing: border-box;
    display: block;
    width: 100%;
  }
  label {
    color: $color-8;
    font-size: 14px;
    font-weight: normal;
    margin-bottom: 6px;
    padding-left: 8px;
  }
  input,
  select,
  textarea {
    border: 1px solid $color-10;
    color: $color-6;
    height: 33px;
    line-height: 33px;
    outline: none;
    padding: 0 8px;
    &.error {
      border: 1px solid $color-9;
    }
    &::placeholder {
      color: $color-4;
    }
    &:focus {
      &::placeholder {
        opacity: 0;
      }
    }
  }
  .error_text {
    color: $color-11;
    font-size: 11px;
    font-style: italic;
    line-height: 1.09;
    padding-left: 8px;
    padding-top: 5px;
  }
  select {
    background: url("../img/arrow.png") no-repeat 95% center;
    -webkit-appearance: none;
  }
  .select_big {
    width: 246px;
  }
  &_radio {
    display: flex;
    padding: 12px 15px 16px;
    &:not(:last-child) {
      border-bottom: 1px dashed $color-12;
    }
    input[type='radio'] {
      height: 30px;
      opacity: 0;
      width: 20px;
      &:checked {
        & + label:before {
          background-color: #ff6900;
          box-shadow: inset 0 0 0 3px $color-0;
        }
      }
    }
    label{
      color: $color-6;
      font-family: 'calibri';
      font-size: 17px;
      font-style: normal;
      font-weight: normal;
      max-width: 320px;
      position: relative;
      &:before {
        background-color: $color-0;
        border: solid 1px $color-10;
        border-radius: 50%;
        content: '';
        display: block;
        height: 13px;
        position: absolute;
        left: -30px;
        top: 3px;
        width: 13px;
      }
      .time {
        font-family: 'calibri';
        font-size: 13px;
        color: $color-10;
        display: block;
        margin-top: 3px;
      }
    }
    &-buttons {
      border: 1px dashed $color-12;
      margin-bottom: 30px;
      margin-top: 10px;
    }
  }
  textarea {
    min-height: 180px;
    width: 100%;
  }
  &_button {
    display: flex;
    justify-content: flex-end;
  }
}
.pick-up_container {
  display: none;
  &.visible {
    display: block;
  }
}
.map {
  &-container {
    border: solid 1px #f0e4ca;
    height: 292px;
    margin-bottom: 35px;
    position: relative;
    #map {
      height: 100%;
      padding: 0;
      margin: 0;
      width: 100%;
    }
    &:after {
      border-radius: 30%;
      box-shadow: 0 5px 15px 0 #F9EFDF;
      content: '';
      display: block;
      height: 15px;
      position: absolute;
      bottom: 0;
      left: 10px;
      right: 10px;
    }
  }
  &-info {
    font-size: 16px;
    color: $color-6;
    margin: 0 auto 25px;
    width: 90%;
    &_wrap {
      align-items: flex-end;
      background: linear-gradient(to bottom, rgba(255,255,255,0) 0%,rgba(255,255,255,0.27) 15%,rgba(255,255,255,0.89) 50%,rgba(255,255,255,1) 56%);
      display: flex;
      flex-wrap: wrap;
      height: 155px;
      bottom: 0;
      left: 0;
      position: absolute;
      right: 0;
      z-index: 1;
    }
  }
}
.button {
  background: $color-0;
  border-radius: 2px;
  border: solid 1px $color-13;
  color: $color-13;
  cursor: pointer;
  font-size: 14px;
  height: 46px;
  line-height: 46px;
  outline: none;
  position: relative;
  text-align: center;
  width: 226px;
  span {
    background: url("../img/arrow-right.png") no-repeat;
    display: inline-block;
    height: 10px;
    margin-left: 5px;
    position: absolute;
    right: 20px;
    top: 19px;
    width: 7px;
  }
  &:hover {
    opacity: 0.5;
  }
}
input[type='submit'] {
  background: none;
  border: none;
  color: $color-13;
  cursor: pointer;
  height: 100%;
  padding: 0 33px;
}
.phone {
  position: relative;
  input {
    padding-left: 50px;
  }
  span {
    align-items: center;
    border-right: 1px solid $color-10;
    color: $color-8;
    height: 33px;
    display: inline-flex;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 33px;
  }
}