header {
  border-bottom: 1px solid $color-4;
  margin: 0 25px;
  padding: 20px 0;
}
.logo {
  display: flex;
  text-decoration: none;
  &_left {
    width: 72px;
  }
  &_right {
    display: flex;
    flex-direction: column;
    margin-left: 15px;
    width: 190px;
    img {
      margin-bottom: 5px;
      margin-top: 15px;
    }
  }
  &_title {
    color: $color-5;
    font-family: 'philosopherregular';
    font-size: 12px;
    font-weight: bold;
    letter-spacing: 0.3px;
  }
}
.header {
  display: flex;
  justify-content: space-between;
  &_left,
  &_right,
  &_center {
    box-sizing: border-box;
  }
  &_left,
  &_right {
    width: 30%;
  }
  &_center {
    width: 40%;
  }
  &_right {
    padding-right: 5px;
    padding-top: 10px;
    text-align: right;
  }
  &_phone {
    color: $color-6;
    display: block;
    font-family: 'georgia';
    font-size: 28px;
    text-decoration: none;
  }
  .call-back {
    border-bottom: 1px dashed $color-3;
    color: $color-3;
    font-family: 'calibri';
    font-size: 13px;
    text-decoration: none;
  }
}
.search {
  form {
    position: relative;
    margin: 20px 4% 0 12%;
    &:before {
      background: url("../img/search.png") no-repeat center;
      content: '';
      display: block;
      height: 36px;
      position: absolute;
      left: 0;
      top: 0;
      width: 30px;
    }
  }
  input[type='text'] {
    border-radius: 18px;
    background-color: $color-0;
    border: 1px solid #e9e1db;
    box-shadow: inset 0 1px 2px 0 rgba(96, 58, 26, 0.22);
    box-sizing: border-box;
    color: $color-3;
    font-size: 13px;
    height: 36px;
    letter-spacing: -0.5px;
    line-height: 36px;
    outline: none;
    padding: 0 15px 0 30px;
    width: 100%;
    &::placeholder {
      font-size: 13px;
      line-height: 1.71;
      color: $color-3;
    }
    &:focus {
      &::placeholder {
        color: $color-0;
      }
    }
  }
}