@import "smart-grid";

body {
  background: url("../img/bg.png") no-repeat;
  background-size: 100%;
  color: $color-4;
  font-family: 'calibri';
}
h1 {
  color: $color-3;
  font-family: 'philosopherregular';
  font-size: 12px;
  line-height: 7.08;
}
h2 {
  color: $color-6;
  font-family: 'georgiai';
  font-size: 35px;
  margin-top: 20px;
  padding-top: 25px;
}
h4 {
  color: $color-6;
  font-family: 'georgiai';
  font-size: 25px;
  font-style: italic;
  font-weight: normal;
  line-height: 1.4;
  margin-bottom: 8px;
  margin-top: 0;
  width: 100%;
}
h5 {
  color: $color-6;
  font-family: 'georgiai';
  font-size: 19px;
  font-style: italic;
  font-weight: normal;
  margin-bottom: 10px;
  margin-top: 15px;
  width: 100%;
}
