@media (max-width: 1000px) {
  .header_center {
    width: 75%;
  }
  .header_right,
  .header_row-right {
    display: none;
  }
  .nav-menu {
    a {
      padding: 0 1.5%;
      &.submenu:after {
        left: 5px;
      }
    }
  }
  .about {
    padding-bottom: 40px;
  }
  .footer_nav-1 {
    margin-bottom: 25px;
  }
}
@media (max-width: 768px) {
  .mobile-menu {
    box-sizing: border-box;
    display: block;
    font-size: 26px;
    line-height: 44px;
    padding: 0 2%;
    position: relative;
    width: 100%;
    z-index: 1;
  }
  .nav {
    &-menu {
      align-items: flex-start;
      background-color: $color-8;
      border-top: 1px solid $color-0;
      border-radius: 2.4px;
      display: none;
      flex-direction: column;
      padding: 20px 0;
      position: relative;
      z-index: 2;
      a {
        line-height: 40px;
      }
    }
  }
  .mobile-menu-checkbox:checked ~ .nav-menu {
    display: flex;
  }
  .header_row {
    flex-wrap: wrap;
  }
  .header_left {
    width: 50%;
  }
  .header_center {
    margin-top: 110px;
    padding-left: 0;
    max-width: 100%;
    width: 100%;
  }
  .header_row-left {
    width: 100%;
  }
  .info_right {
    margin-top: 30px;
  }
  .subscription {
    margin-top: 40px;
  }
  .slider-nav-tabs .slick-slider .slick-track {
    padding: 0 25px;
  }
  .footer_bottom-right .privacy {
    margin-top: 20px;
    text-align: center;
  }
  .footer_nav-2 {
    max-width: 225px;
  }
  footer h3 {
    font-size: 17px;
  }
}
@media (min-width: 1025px) and (max-width: 1200px)  {

}

