.nav {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin: 0 25px;
  padding: 5px 0;
  &-top {
    border-bottom: 1px solid $color-4;
    display: flex;
    justify-content: space-between;
    margin: 0 25px;
    padding: 10px 0;
    &_menu {
      a {
        border-bottom: 1px solid $color-3;
        color: $color-3;
        font-size: 13px;
        margin-right: 35px;
        text-decoration: none;
      }
    }
    &_account {
      color: $color-3;
      display: flex;
      font-size: 13px;
      justify-content: space-between;
      .location,
      .sign-in {
        &:before {
          content: '';
          display: inline-block;
          position: relative;
          width: 15px;
        }
      }
      .location {
        margin-right: 35px;
        span {
          margin-left: 4px;
        }
        &:before {
          background: url("../img/map.png") no-repeat;
          height: 17px;
          padding-right: 5px;
          top: 4px;
        }
      }
      .sign-in {
        &:before {
          background: url("../img/person.png") no-repeat;
          height: 19px;
          padding-right: 10px;
          top: 3px;
        }
      }
    }
  }
  &-menu {
    a {
      color: $color-6;
      font-size: 15px;
      font-weight: bold;
      letter-spacing: -1px;
      text-decoration: none;
      text-transform: uppercase;
      &:not(:last-child) {
        margin-right: 50px;
      }
    }
  }
  .basket {
    position: relative;
    &_price {
      color: $color-6;
      font-size: 17px;
      font-weight: bold;
      padding-right: 8px;
      position: relative;
      top: -5px;
      span {
        font-size: 12px;
      }
      &:before {
        background: url("../img/basket.png") no-repeat center;
        content: '';
        display: inline-block;
        height: 28px;
        margin-right: 10px;
        position: relative;
        top: 7px;
        width: 30px;
      }
    }
    &_count {
      align-items: center;
      background: url("../img/count.png") no-repeat;
      background-size: cover;
      border: 1px solid $color-0;
      border-radius: 50%;
      color: $color-0;
      display: inline-flex;
      font-size: 11px;
      font-weight: bold;
      height: 20px;
      justify-content: center;
      position: absolute;
      left: 17px;
      top: -3px;
      width: 20px;
    }
  }
}