.tabs {
  display: flex;
  flex-wrap: wrap;
  max-width: 390px;
  &__tab {
    display: none;
  }
}

.tabs__title {
  width: 1px;
  flex-grow: 1;
  order: -1;
  color: $color-6;
  background-color: $color-0;
  border: 1px dashed $color-7;
  cursor: pointer;
  user-select: none;
  text-align: center;
  padding: 14px 10px 15px;
  overflow: hidden;
  text-overflow: ellipsis;
  span {
    border-bottom: 1px dashed $color-3;
  }
}

.tabs__block {
  display: none;
  width: 100%;
  flex-grow: 2;
  margin: 0;
  padding: 35px 5px 5px;
}

.tabs__tab:checked+.tabs__title {
  background-color: #FDFCFA;
  border: solid 1px #EFE7D9;
  font-size: 15px;
  color: #461f02;
  span {
    border-bottom: none;
  }
}

.tabs__tab:checked+.tabs__title+.tabs__block {
  display: block;
}
.tabs__title:hover {
  background-color: #FDFCFA;
  span {
    border-bottom: none;
  }
}